button {
    color: #FFFFFF;
    background-color: #FF8515;
    border-radius: 15px;
    height: 54px;
    outline: none;
    border: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    padding: 0 20px;
    cursor: pointer;
}